#Why-Should-I-Study-Information-Systems{
    border-top: 1px solid gray;
}
.index_reader{
    font-style: italic;
    margin-top: 5hv;
    padding-left: 40px;
}
.idented{
    text-indent: 30px;
}

.centred_picture{
    display:block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.question_form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.question_form h2{
    text-align: center;
}
.question_form form{
    border: 2px solid rgb(43, 179, 233);
    width: 50%;
    padding: 10px;
}

.question_form form textarea{
    border: 2px solid rgb(43, 179, 233);
    width: 80%;
}
#show_number #show_number2{
    display: inline;
}